@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;400;600;700&display=swap');
*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'IBM Plex Sans', sans-serif;
}
.main-container{
    position: relative;
    height: 100vh;
    width: 100vw;
    background: aqua;
}
.card-container{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: .1rem solid #000;
    border-radius: .5rem;
}
.left{
    flex: 1 1 42rem;
}
.right{
    flex: 1 1 42rem;
    margin-left: 1rem;
    padding-right: .5rem;
}
img{
   height: 100%;
   width: 100%;
   border-top-left-radius: .5rem;
   border-bottom-left-radius: .5rem;
}
a{
    text-decoration: none;
    text-transform: capitalize;
}
button:hover{
    color: #fff;
}
p{
    color: #bdc3c7;
    line-height: 1.7rem;
    letter-spacing: .1rem;
}